.jumbotron{
    width: 80%;
    margin: 1em auto;
}
form{
    width: 60%;
    margin: 1em auto;
}
#recordCards{
    width:80%;
    margin:auto;
}
.card{
    height: 100%; 
    float:left;
    width: 23%;
    margin: 1%;
}
.hidden{
    display: none;
}

#overallStats{
    width: 80%;
    margin: auto;
}
.clear{
    clear:both;
}
#chartDiv{
    width:80%;
    margin: auto;
}
.chart{
    width: 48%;
    margin: auto;
    float:left;
}
.table-buttons{
    margin-right: .1rem;
    padding: .4rem;
}
#eventStats{
    width: 60%;
    margin: auto;
}
/*mobile portrait to mobile landscape*/
@media only screen and (max-width: 549px){
    body{
        font-size:80%;
    }
    .card{
        float:none;
        width: 100%;
        margin:auto;
    }
    .chart{
        float:none;
        width: 100%;
    }
}